<h1>Find the least amount of change for your cents!!</h1>

<form action="coin_combinations">
	<div class="form-group">
		<label for="cents">Enter cents</label>
		<input class="form-control" id="cents" name="cents" type="number">
	</div>
	<button class="btn-primary" type="submit">Change</button>
</form>